h2{
    color: rgb(0, 176, 80);
}

h1{
    color:rgba(36, 26, 26, 0.842);
}

.column {
    float: left;
    width: 48%;
    padding:5px;
    border: 2px solid darkslategray;
}
.row {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 7px;
}

h1{
    font-size: xxx-large;
}
